<%- include("partials/header.html"); %>

    <div id="divInfo" style="margin-left: 15%;">
        <h2 style="text-align: center; color: darkblue;">Tools used for this project</h2>
        <li>
            <h3>Front-End</h3>
            <ul><p>HTML, CSS & Javascript for display and user experience</p></ul>
            <ul><p>Bootstrap</p></ul>
            
        </li>
        <li>
            <h3>Back-End</h3>
        <ul> <p>Javascript, together with dependencies: EJS, Express.js, Node(Nodemon)</p></ul>
        <ul> <p>HTTP Request Methodes  for functionality</p></ul>
        </li>
        
    </div>

    <%- include("partials/footer.html"); %>
        <header>
            <%= new Date().getFullYear(); %>
        </header>