<%- include("partials/header.html"); %>

    <div class="div">
        <h1>The Pursuit of Happyness - Will Smith (by Steven Conrad)</h1>
        <p>Hey. Don't ever let somebody tell you... You can't do something. Not even me. All right?. You got a dream... You gotta protect it. People can't do somethin' themselves, they wanna tell you you can't do it. If
        you want somethin', go get it. Period.</p>
    </div>

    <%- include("partials/footer.html"); %>
        <header>
            <%= new Date().getFullYear(); %>
        </header>