<%- include("partials/header.html"); %>

    <div class="div">
        <h1>Our Deepest Fear - Coach Carter</h1>
        <p>Our deepest fear is not that we are inadequate,
        Our deepest fear is that we are powerful beyond measure.
        
        It is our light, not our darkness, that most frightens us.
        Your playing small does not serve the world.
        
        There is nothing enlightened about shrinking
        so that other people won’t feel insecure around you.
        
        We were all meant to shine as children do.
        It’s not just in some of us, it’s in everyone.
        
        And, as we let our own light shine, we consciously give
        other people permission to do the same.
        
        As we are liberated from our fear,
        our presence automatically liberates others.</p>
        
    </div>

    <%- include("partials/footer.html"); %>
        <header>
            <%= new Date().getFullYear(); %>
        </header>