<%- include("partials/header.html"); %>

    <div class="div">
        <h1>Don't Stop - Walt Whitman</h1>
        <p>Don't let the day end without having grown a little,
        without having been happy, without having increased your dreams.
        Don't let yourself be defeated by discouragement.
        Don't let anyone take away your right to express yourself,
        which is almost a duty.
        Don't give up the desire to make your life something extraordinary.
        Don't stop believing that words and poetry
        can change the world.
        Whatever happens, our essence is intact.
        We are beings full of passion.
        Life is a desert and an oasis.
        It knocks us down, hurts us,
        teaches us,
        makes us protagonists
        of our own story.
        Even if the wind blows against us,
        the powerful work continues:
        You can contribute a verse.
        Never stop dreaming,
        because in dreams man is free.
        Don't fall into the worst of mistakes:
        silence.
        Most people live in a frightening silence.
        Don't resign yourself.
        Run away.
        “I scream from the rooftops of this world,”
        says the poet.
        Value the beauty of simple things.
        You can make beautiful poetry about small things,
        but we cannot row against ourselves.
        That turns life into hell.
        Enjoy the panic that comes from
        having your life ahead of you.
        Live it intensely,
        without mediocrity.
        Think that the future lies within you
        and face the task with pride and without fear.
        Learn from those who can teach you.
        The experiences of those who preceded us
        of our “dead poets”
        help you walk through life.
        Today’s society is us:
        The “living poets.”
        Don’t let life pass you by without you living it.</p>
       
    </div>

    <%- include("partials/footer.html"); %>
        <header>
            <%= new Date().getFullYear(); %>
        </header>